.input{
    width: 350px;
    height: 45px;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 5px 10px;
    font-size: 13px;
    font-size: 500;
    outline: none;
}
.input ::placeholder{
    color: #f7f7f7;
    font-weight: 300;
    font-size: 10px;

}
